<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576771086062-cdp0t6sr3dk16eb25okrmqdbhnlno91m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576771086062-cdp0t6sr3dk16eb25okrmqdbhnlno91m</string>
	<key>API_KEY</key>
	<string>AIzaSyDPISmGOSAq_Ihjr9hnRxpIQCIMJMbSj38</string>
	<key>GCM_SENDER_ID</key>
	<string>576771086062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.usamamuzaffar.mapMyWalk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>map-my-walk-2e3e4</string>
	<key>STORAGE_BUCKET</key>
	<string>map-my-walk-2e3e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576771086062:ios:ee3d127a25dbee593dc5ff</string>
</dict>
</plist>